:root {
--persian-red: #d12938ff;
--citrine: #e4cd43ff;
--light-blue: rgb(78, 206, 223);
--celadon: #abd597ff;
--timberwolf: #d4d4d4ff;
}
        
    /* * {
        border: 2px solid black;
    } */
    
    main {
       background-color: var(--light-blue);
    }
      
    header {
        background-color: var(--persian-red);
        position: sticky;
        top: 0;
    }
    
    header h3 {
        content-visibility: hidden;
        text-align: center;
        padding-top: 25px;
        height: 75px;
        width: 200px;
    }
    
    header h3:hover {
        content-visibility: visible;
        color: var(--ghost-white);
    }
      
    .navbar {
        box-shadow: 0px 15px 20px -10px var(--persian-red);
        padding: 20px;
    }
    
    #headerTitle {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--persian-red);
        padding: 10px;
    }
    
    #headerTitle a {
    background-color: var(--persian-red);
    border-radius: 20px;
    padding: 20px;
    }
        
        .navbar {
            background-color: var(--persian-red);
            display: flex;
        }
    
        .hover-text {
            display: none;
        }
    
        .three:hover {
            width: 300px;
            height: 80px;
            position: relative;
            right: 50px;
        }
    
        .nav-item img:hover {
            display: none;
        }
        
        .nav-item img:hover + .hover-text {
            display: inline;
            font-size: 30px;
            padding: 0;
            border-radius: 10px;
            font-family: 'Mochiy Pop P One', sans-serif;
            color: var(--persian-red);
        }
        
        
        .nav-item:hover + .nav-item img:hover {
            display: none;
        }
        
        .nav-link {
            text-align: center;
            width: 200px;
            height: fit-content;
            position: relative;
            background-color: var(--citrine);
            border-radius: 20px;
            margin: 20px 100px 0px 100px;
            border: 2px solid var(--timberwolf);
            font-size: 150%;
        }
        
        .nav-link:hover {
            cursor: pointer;
            background-color: var(--timberwolf);
            border: 2px solid var(--timberwolf);
        }
    
      
        
        
        #ul {
            list-style: none;
            display: inline-block;
        }
        
        #ul li {
            float: left;
            margin: 0 20px;
        }
        
        #rrimage {
            width: 75%;
            margin: 20px;
            border: 2px solid var(--persian-red);
            border-radius: 25px;
        }
        
        .card-style {
            background-color: var(--celadon);
            font-family: 'Mochiy Pop P One', sans-serif;
            border-radius: 25px;
            margin: 15px;
            margin-top: 50px;
            box-shadow: 0px 0px 15px 5px var(--persian-red);
            text-align: center;
            height: 100%;
            width: 20%;
            padding: 20px;
        }
        
        .card-style h3 {
            margin-top: 20px;
            font-size: 40px;
        }
        
        .card-style a {
            color: var(--citrine);
            padding: 10px;
            border-radius: 10px;
            background-color: var(--persian-red);
        }
        
        .card-style a:hover {
            color: black;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--citrine);
            box-shadow: 5px 5px 5px var(--citrine);
        }