:root {
--walnut-brown: #585147ff;
--mint-cream: #d0ded8ff;
--cadet-gray: #93b1bfff;
--verdigris: #5ca8a4ff;
--prussian-blue: #143151ff
}

/* * {
    border: 2px solid black;
} */

.carousel-caption {
    color: white;
text-shadow: 3px 3px 2px rgb(27, 27, 25);
    }


#carouselExampleIndicators {
    height: 35%;
    width: 35%;
    float: right;
}

#hero {
    visibility: hidden; 
}

#headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mint-cream);
    padding: 10px
}

.navbar {
    background-color: var(--mint-cream);
    
}

.container-fluid {
    display: flex;
}

.nav-link {
    flex-wrap: wrap;
    background-color: var(--prussian-blue);
    border-radius: 30px;
    margin: 0px 100px 0px 100px;
    padding: 20px;
}

#about-us {
    background-color: var(--mint-cream);
    width:fit-content;
    margin: 30px;
    text-align: center;
    border: 5px solid var(--prussian-blue);
    border-radius: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: large;
}

#about-us h3 {
    font-size: 40px;
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Indie Flower', cursive;
    /* font-family: 'Sedgwick Ave Display', cursive; */
}